body
	background-color: #F5F8FA
	margin: 0

a
	display: block
	color: #3097D1
	text-decoration: none
	&:hover
		color: #014CA8

p
	margin: 0

ul
	list-style: none
	padding: 0

button
	display: flex
	flex-direction: row
	justify-content: center
	border-radius: 3px
	padding: 5px
	border: 1px solid #3097D1
	color: #3097D1
	background-color: #fff
	outline: none
	&:hover
		background-color: #3097D1
		color: #fff
		cursor: pointer
.hidden
	display: none

.inputError, .success
	width: 250px
	background-color: #fff
	color: red
	border: 1px solid red
	padding: 5px
	margin-bottom: 10px
	border-radius: 3px

.modalOverlay,.photoOverlay
	width: 100%
	height: 100%
	position: fixed
	background-color: rgba(0,0,0,.5)
	top: 0
	left: 0

.errorModal, .successModal
	position: absolute
	padding: 20px
	background-color: #fff
	border: 1px solid red
	border-radius: 3px
	width: 300px
	height: 50px
	top: calc(50% - 25px)
	left: calc(50% - 150px)
	color: red
	text-align: center

.photoModal
	position: absolute
	box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.75)

.successModal, .success
	color: green
	border-color: green


@media screen and (max-width: 855px)
	.wrapper
		.content
			flex-direction: column
			.left,.wall,.right
				width: 100%
			.wall
				margin: 0
				margin: 10px 0
			.right
				.friends
					display: flex
					flex-direction: row
					justify-content: center
					.list:first-child
						border-right: 1px solid #dfdfdf

@media screen and (max-width: 540px)
	.wrapper
		.content
			.right
				.friends
					flex-direction: column
					.list
						border: none

@media screen and (max-width: 650px)
	.wrapper
		.header-nav
			display: flex
			flex-direction: row
			justify-content: space-between
			.menu-button
				display: block
			.nav-ul
				display: none
			.nav-ul.menu-open
				display: block
		
	

